header {text-align: center;}

body {
    background-color: aquamarine;
    
}



h1 {
    font-size: 80px;
    font-weight: bold;
    color: rgb(42, 243, 15);
    text-shadow: 8px 5px 5px rgba(109, 99, 99, 0.623);
    margin-top: 5px;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;  /* Change this to inline-block */
    width: fit-content;     /* This will ensure the width fits the content */
    margin-left: auto;      /* These two lines will center the h1 */
    margin-right: auto;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-top: 10px;        /* Adjust as needed */
    border-bottom: 5px solid rgb(17, 16, 16);
    padding-bottom: 5px;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;   /* This will make the h2 behave like an inline element but still be block-level */
    width: fit-content;      /* This will ensure the width fits the content */
}

#memeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ensures the image is responsive */
}


nav ul {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none; /* Removes the default bullet points */
    margin: 0 auto;        /* Centers the ul and removes the default margin */
    padding: 0;            /* Removes the default padding */
    text-align: center;    /* Centers the list items */
    margin-bottom: 20px;
}

nav li {
    display: inline;       /* Keeps the li elements horizontal */
    padding: 25px;

}

nav a {
    text-decoration: none; /* Removes the default underline from links */
    color: blue;
    padding: 5px 10px;     /* Adds some padding around the links */
    background-color: #f4f4f4; /* Adds a background color to the links */
    border-radius: 5px;    /* Rounds the corners of the links */
}

nav a:hover {
    background-color: #63eb09; /* Optional: Changes the background color on hover */
}

footer {
    margin-top: auto;
    flex-shrink: 0;  /* This ensures the footer doesn't shrink */
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

