nav ul {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none; /* Removes the default bullet points */
    margin: 0 auto;        /* Centers the ul and removes the default margin */
    padding: 0;            /* Removes the default padding */
    text-align: center;    /* Centers the list items */
    margin-bottom: 20px;
}

nav li {
    display: inline;       /* Keeps the li elements horizontal */
    padding: 25px;

}

nav a {
    text-decoration: none; /* Removes the default underline from links */
    color: blue;
    padding: 5px 10px;     /* Adds some padding around the links */
    background-color: #f4f4f4; /* Adds a background color to the links */
    border-radius: 5px;    /* Rounds the corners of the links */
}

nav a:hover {
    background-color: #63eb09; /* Optional: Changes the background color on hover */
}

body {
    background-color: black;
    color: white;
}



header {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: lightgrey;
    text-decoration: underline;
}

button {
    background-color: chartreuse;
    font-size: 20px; 
    padding: 10px 20px; 
    width: 200px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 10px; 
    transition: background-color 0.3s;
}

button:hover {
    background-color: #10baf3; /* Change to your desired hover color */
}

div { 
    font-size: 35px;
    text-align: center;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
   
}